{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>To do list</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="container">
    <div class="center-column">
        <h3 style="font-family: 'Open Sans', sans-serif;">To do</h3>
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
                <input class="btn btn-info" type="submit" name="Create Task">
        </form>
        {% for task in tasks %}
            <div class="item-row">
                <a class="btn btn-sm btn-info" href="{% url 'updateTask' task.id %}">Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a> 
                {% if task.complete == True %}
                    <s>{{task}}</s>
                {% else %}
                    <span>{{task}}</span> 
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>